<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Umut
            <span class="text-primary">Kayretli</span>
        </h1>
        <div class="subheading mb-5">
            Ankara / Turkey ·
            <a href="mailto:name@email.com">umutkayretli25@gmail.com</a>
        </div>
        <p class="lead mb-5">I'm Umut, a software developer and tech enthusiast who focused on
            backend web programming. 
            <br>
            <a href="https://drive.google.com/file/d/15HgSC-nxyX21O8l5P0XZbiZ0AT7uobj7/view?usp=sharing" target="_blank">Click here for PDF version of my CV</a></p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/umutkayretli/"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://twitter.com/KayretliUmut"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</section>