<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Ondokuz Mayis University</h3>
                <div class="subheading mb-3">Computer Programming</div>
                <p>GPA: 2.99</p>
                <div>I learned 
                    <ul>
                        <li>PHP</li>
                        <li>Javascript</li>
                        <li>SQL</li>
                        <li>Basically C++, C# and Python</li>
                    </ul>
                    at this university. Apart from these, I learned NodeJS and ExpressJS by myself (with online
                    courses) and focused on improving myself in the field of backend web
                    programming.
                </div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">September 2021 - Current </span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Ataturk University</h3>
                <div class="subheading mb-3">Computer Programming</div>
                <p>GPA: 3.32</p>
                <div>I took my first year of university education at this university, completed my first
                    year with 3.32/4.00 GPA and transferred to another university.</div>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2020 - 2021</span></div>
        </div>
    </div>
</section>
<hr class="m-0" />

<!-- CERTIFICATES -->

    <section class="resume-section" id="certificates">
        <div class="resume-section-content">
            <h2 class="mb-5">Certificates</h2>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    <a href="https://www.sololearn.com/certificates/CC-FWDM2XVZ" target="_blank" style="text-decoration: none;"> Introduction to C++ - SoloLearn</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    <a href="https://www.btkakademi.gov.tr/portal/certificate/validate?certificateId=6mqFNYpWe6" target="_blank" style="text-decoration: none;">WEB PROGRAMMING WITH NODE.JS - BTK AKADEMİ</a>
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    <a href="https://bilgeis.net/moodle/mod/simplecertificate/verify.php?code=69fa1820-1eff-11ed-9136-215562b9277a" target="_blank" style="text-decoration: none;">JAVASCRIPT - Bilgeİş/ODTÜ</a>
                </li>
            </ul>
        </div>
    </section>


<!-- <section class="resume-section" id="certificates">
    <div class="resume-section-content">
        <h2 class="mb-5">Certificates</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                C++ Introduction - SoloLearn
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                WEB PROGRAMMING WITH NODE.JS - BTK AKADEMİ
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                JAVASCRIPT - Bilgeİş/ODTÜ
            </li>
        </ul>
    </div>
</section>  -->

