<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <span id="html-icon"><li class="list-inline-item"><iconify-icon icon="akar-icons:html-fill"></iconify-icon></li></span>
            <span id="css-icon"><li class="list-inline-item"><iconify-icon icon="akar-icons:css-fill"></iconify-icon></li></span>
            <span id="js-icon"><li class="list-inline-item"><iconify-icon icon="ri:javascript-fill"></iconify-icon></li></span>
            <span id="php-icon"><li class="list-inline-item"><iconify-icon icon="simple-icons:php"></iconify-icon></li></span>
            <span id="nodejs-icon"><li class="list-inline-item"><iconify-icon icon="devicon-plain:nodejs-wordmark" width="48" height="48"></iconify-icon></li></span>
            <span id="npm-icon"><li class="list-inline-item"><iconify-icon icon="mdi:npm"></iconify-icon></li></span>
            <span id="mysql-icon"><li class="list-inline-item"><iconify-icon icon="cib:mysql"></iconify-icon></li></span>
            <span id="mongo-icon"><li class="list-inline-item"><iconify-icon icon="simple-icons:mongodb"></iconify-icon></li></span>

            <!-- <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
            <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
            <li class="list-inline-item"><i class="fab fa-php"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-database"></i></li>
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fab fa-npm"></i></li> -->

           
        </ul>
        <div class="subheading mb-3"></div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Backend Web Development
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Express.JS
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                SQL & NoSQL
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Basically C++, C# and Python
            </li>
        </ul>
    </div>
</section>
<hr class="m-0" />